In [1]:
import numpy as np
import pandas as pd
from scipy.optimize import minimize

In [2]:
df = pd.read_csv('hybrid.csv')
df.head()

           vehicle  year      msrp  acceleration    mpg       class
0  Prius (1st Gen)  1997  24509.74          7.46  41.26     Compact
1             Tino  2000  35354.97          8.20  54.10     Compact
2  Prius (2nd Gen)  2000  26832.25          7.97  45.23     Compact
3          Insight  2000  18936.41          9.52  53.00  Two Seater
4  Civic (1st Gen)  2001  25833.38          7.04  47.04     Compact

In [3]:
suvs = df[df['class'] == 'SUV']
suvs.head()

            vehicle  year      msrp  acceleration    mpg class
10           Escape  2004  36676.10         10.32  31.99   SUV
14     Lexus RX400h  2005  58521.14         12.76  28.23   SUV
16       Highlander  2005  29186.21         12.76  29.40   SUV
19       Escape 2WD  2005  19322.56          9.52  29.00   SUV
22  Mercury Mariner  2006  34772.40          8.98  32.93   SUV

In [4]:
def ls_for_x(b, y, X):
    errors = y - X @ b
    return sum(errors ** 2)

In [5]:
X = np.ones((len(suvs), 3))
X[:, 1] = suvs['acceleration']
X[:, 2] = suvs['mpg']
X[:5, :]

array([[ 1.  , 10.32, 31.99],
       [ 1.  , 12.76, 28.23],
       [ 1.  , 12.76, 29.4 ],
       [ 1.  ,  9.52, 29.  ],
       [ 1.  ,  8.98, 32.93]])

In [6]:
best_p = minimize(ls_for_x, [np.mean(suvs['msrp']), 2500, -2300], args=(suvs['msrp'], X))

In [7]:
best_p

      fun: 5789411260.896765
 hess_inv: array([[ 2.80657736e-01,  6.90032815e-03, -1.38006563e-02],
       [ 6.90032815e-03,  1.77766805e-04, -3.55533609e-04],
       [-1.38006563e-02, -3.55533609e-04,  7.11067218e-04]])
      jac: array([   0.,  -64., -448.])
  message: 'Desired error not necessarily achieved due to precision loss.'
     nfev: 512
      nit: 8
     njev: 100
   status: 2
  success: False
        x: array([73168.55127157,  2603.39223756, -2275.59829683])

In [8]:
b = np.linalg.pinv(X) @ suvs['msrp'][:, None]
b

array([[73237.45993666],
       [ 2600.63394835],
       [-2276.84240407]])